extends base.pug

block content
  //- header
  main
    form#enter
      input(type="text", placeholder="Enter Room", required)
      button Enter

    form#nickname
      input(type="text", placeholder="Nickname", required)
      button Save

    form#message
      ul
      input(type="text", placeholder="Message", required)
      button Send

  script(src="/socket.io/socket.io.js")