extends base.pug

block content
  //- header
  main
    section
      div#myStream.layout__room
        div.video
          video#myFace(autoplay, playsinline, muted, width="100%", height="100%")
          div.button
            button#mute Mute
            button#camera Turn Camera Off
            select#cameras


        div
          video#peerFace(autoplay, playsinline, muted, width="100%", height="100%")

block scripts
  script(src="/dist/js/video.js")